.search-form {
  margin: 1rem 0;
}

.search-form-input-container {
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}

.search-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
}

.search-form button {
  padding: 0.5rem 1rem;
}

.search-form-error {
  color: red;
}
